/*//////////////////////////////////////////////////////////////////////////////////////////
                                                Elemente
//////////////////////////////////////////////////////////////////////////////////////////*/
html {
    background-color:  #e6e6e6;
}
main {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
}
#aside {
    padding: 30px;
    background-color: #008ae6;
    text-align: center;
}
#aside > p {
    font-size: x-large;
    font-family: "JetBrains Mono", sans-serif;
    color: #e6e6e6;
}
main > article >form {
   padding: 30px;
   text-align: center;
}
main > article {
    text-align: center;
}
select {
    background-color: #008ae6;
    color: #e6e6e6;
    font-size: x-large;
    margin: 10px;
}
form > label {

}

/*//////////////////////////////////////////////////////////////////////////////////////////
                                                Typo
//////////////////////////////////////////////////////////////////////////////////////////*/
h1 {
    font-size: x-large;
    font-family: sans-serif;
}
p, #button, form > label {
    font-family: sans-serif;
    font-size: x-large;
}
/*//////////////////////////////////////////////////////////////////////////////////////////
                                                id
//////////////////////////////////////////////////////////////////////////////////////////*/
#thumbnail {
    height: 100px;
    width: 100px;
    background-color: #008ae6;
    border-radius: 50%;
    display: inline-block;
}
#scoreTabel {
    display: unset;
}
#scoreTabel > tr > td {
    background: #008ae6;
    color: #e6e6e6;
    padding-left: 1em;
    padding-right: 1em;
}
#none {
    display: none;
}
#rotation {
    -webkit-animation: rotation 10s infinite cubic-bezier(.86,0,.07,1);
    max-width: 50px;
    max-height: 50px;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(359deg);}
}
#wapper {
    display: grid;
    grid-template-columns: auto auto;
}
#timer {
 /*todo hier muss noch ein Counter umgesetzt werden*/
}
#button {
    border-color: #e6e6e600;
}
#userName, #password, #passwordVerify{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 3px solid #008ae6;
    border-radius: 1px;
    box-sizing: border-box;
}
#submit {

    background: #008ae6;
    color: #fff;
    font-size: x-large;
    border-color: #fff0;
}
#submit:hover {

    background: #0268ac;
    color: #fff;
    font-size: x-large;
    border-color: #fff0;
}
/*//////////////////////////////////////////////////////////////////////////////////////////
                                                classes
//////////////////////////////////////////////////////////////////////////////////////////*/
.btn, #button{
    margin: 20px;
}
.btn > p, #button {
    color: #e6e6e6;
    background-color: #008ae6;
    text-align: center;
    display: initial;
    box-shadow: 2px 2px 4px #d7caca;
    padding: 5px;
}
.btn > p:hover, #button:hover {
    color: #e6e6e6;
    background-color: #0268ac;
    text-align: center;
    display: initial;
    box-shadow: 2px 2px 4px #d7caca;
    padding: 5px;
}
.question:hover, #button:hover{
    color: #e6e6e6;
    background-color: #0268ac;
    text-align: center;
    display: initial;
    box-shadow: 2px 2px 4px #d7caca;
    padding: 5px;
    margin: 20px auto auto;
}
.question{
    color: #e6e6e6;
    background-color: #0089e5;
    text-align: center;
    display: initial;
    box-shadow: 2px 2px 4px #d7caca;
    padding: 5px;
    margin: 20px auto auto;
}

.playerPic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #008ae6;
}