/*//////////////////////////////////////////////////////////////////////////////////////////
                                                Elemente
//////////////////////////////////////////////////////////////////////////////////////////*/
html {
    background-color:  white;
}
#aside {
    padding: 30px;
    background-color: #0d6efd;
    text-align: center;
}
#aside > p {
    font-size: x-large;
    font-family: "JetBrains Mono", sans-serif;
    color: #e6e6e6;
}
main > article >form {
   padding: 30px;
   text-align: center;
}
main > article {
    text-align: center;
}
select {
    background-color: #0d6efd;
    color: #e6e6e6;
    font-size: x-large;
    margin: 10px;
}

article {
}

nav > .btn  {
    margin-left: 1em;
}
/*//////////////////////////////////////////////////////////////////////////////////////////
                                                Typo
//////////////////////////////////////////////////////////////////////////////////////////*/
h1 {
    font-size: x-large;
    font-family: sans-serif;
    margin-top: 0.5em;
}
p, form > label {
    font-family: sans-serif;
}
/*//////////////////////////////////////////////////////////////////////////////////////////
                                                id
//////////////////////////////////////////////////////////////////////////////////////////*/
#thumbnail {
    height: 100px;
    width: 100px;
    margin-top: 20px ;
    background-color: #008ae6;
    border-radius: 50%;
    display: inline-block;
}


#none {
    display: none;
}
#rotation {
    -webkit-animation: rotation 10s infinite cubic-bezier(.86,0,.07,1);
    max-width: 50px;
    max-height: 50px;
}
@-webkit-keyframes rotation {
    from {-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(359deg);}
}
#wrapperQuestion {
    display: grid;
    grid-template-columns: auto auto;
}
#timer{
   /* margin: 10px; */
    background-color: #fff;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

#timer > p{
 text-align: center;
 padding-top: 3px;
}

#userName, #password, #passwordVerify{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 3px solid #008ae6;
    border-radius: 1px;
    box-sizing: border-box;
}
/*//////////////////////////////////////////////////////////////////////////////////////////
                                                classes
//////////////////////////////////////////////////////////////////////////////////////////*/

.btnGrid {
    display: grid;
    grid-template-columns: auto auto;
    margin: 10px;
    grid-gap: 10px;
}
.mainGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.navbar-brand {
    margin-left: 1em;
}

.question:hover{
    color: #e6e6e6;
    background-color: #0268ac;
    text-align: center;
    display: initial;
    box-shadow: 2px 2px 4px #d7caca;
    padding: 5px;
    margin: 20px auto auto;
}
.question{
    color: #e6e6e6;
    background-color: #0089e5;
    text-align: center;
    display: initial;
    box-shadow: 2px 2px 4px #d7caca;
    padding: 5px;
    margin: 20px auto auto;
}

.playerPic {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #008ae6;
}
.green{
    color:green;
}
.red{
    color:red;
}